.container{
    background-color: white;
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
    margin-top: -50px;
}

.container ul{
    list-style-type: none;
}

.list{
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
}



