.container{
    background-color: white;
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
    margin-top: -50px;
}

.container ul{
    list-style-type: none;
}

.list{
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
}

.list div p{
    padding: 2px;
}

.pone{
    font-weight: bold;
    font-size: 20px;
}

.ptwo{
    font-style: italic;
}

.pthree{
    font-weight: bold;
    color: brown;
    font-size: 18px;
}


.amount{
    color: brown;
    font-weight: bold;
}

.quant{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 2px 15px;
    margin-left: 10px;
}

.addBtn{
    padding: 5px 25px;
    color: white;
    font-weight: bolder;
    background-color: brown;
    border-radius: 50px;
    border: 1px solid brown;
    margin-top: 5px;
}