.container{
    margin: 0 auto;
    background-color: brown;
    display: flex;
    padding: 25px 100px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

.logo{
    color: white;
    text-align: left;
}

.button{
    padding: 10px 50px;
}

.image{
  width: 100vw;     /* 100% of the viewport width */
  height: 200px;   
  object-fit: cover;
}

.float{
    background-color: black;
    color: white;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 25px;
    position: relative;
    top: -75px;
    z-index: 1;
}

.float p{
    font-size: 1.2rem;
}
