.container{
    margin: 0 auto;
    background-color: brown;
    display: flex;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

.logo{
    color: white;
    text-align: left;
}

.icon{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.cart{
    color: white;
    background-color: brown;
    padding: 5px 15px;
    border: 1px solid brown;
    border-radius: 25px;
    margin-left: 10px;
}

.button{
    border: 1px solid rgb(100, 0, 0);
    border-radius: 50px;
    padding: 10px 50px;
    background-color: rgb(100, 0, 0);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.image{
  width: 100%;     /* 100% of the viewport width */
  height: 200px;   
  object-fit: cover;
}

.float{
    background-color: black;
    color: white;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 25px;
    position: relative;
    top: -100px;
    z-index: 1;
}

.float p{
    font-size: 1.2rem;
}
